body {
    overflow-y: scroll;
    font: 400 14px/16px 'Open Sans', Arial, sans-serif;
    color: #222;
    background: url(../images/the-elder-scrolls.jpg) fixed top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

::-webkit-scrollbar:vertical     { display: none; }
::-webkit-scrollbar              { background: rgba(0, 0, 0, .5); }
::-webkit-scrollbar-button       { background: #aaa; font: 400 12px/20px FontAwesome; color: #000; }
::-webkit-scrollbar-button:decrement { content: '\f0d9'; }
::-webkit-scrollbar-button:increment { content: '\f0da'; }
::-webkit-scrollbar-track        { background: #555; }
::-webkit-scrollbar-thumb        { background: #000; }
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }

#timeline {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

    #timeline .plot {
        position: relative;
        list-style: none;
        top: -80px;
        width: 100%;
        height: 0;
        border-top: 1px solid red;
        padding: 0;
        margin: 0;
        z-index: 10;
    }

        #timeline .plot li {
            position: absolute;
            width: 12px;
            height: 12px;
            background: #000;
            margin: -6px 0 0 0;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            transition: all .15s ease-in-out;
        }

            #timeline .plot li.lrg {
                width: 26px;
                height: 26px;
                -webkit-border-radius: 13px;
                -moz-border-radius: 13px;
                border-radius: 13px;
                margin-top: -12px;
            }

            #timeline .plot li:hover {
                transform: scale(1);
            }

            #timeline .plot li > div,
            #timeline .plot li.lrg > div {
                position: absolute;
                width: 230px;
                padding: 10px;
                background: rgba(0,0,0,.8);
                opacity: 0;
                transform: scale(0.5);
                z-index: 5;
                transition: all .15s ease-in-out;
            }

            #timeline .plot li:hover > div {
                opacity: 1;
                transform: scale(1);
            }

            #timeline .plot li h1 {
                font-size: 14px;
                line-height: 14px;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
            }

            #timeline .plot li img {
                width: 100%;
                margin-top: 5px;
            }

            #timeline .plot li p {
                font-size: 12px;
                line-height: 15px;
                margin-top: 5px;
                color: #d5d5d5;
            }

                #timeline .plot li p a {
                    color: #fa0;
                    text-decoration: none;
                }

                    #timeline .plot li p a:hover {
                        text-decoration: underline;
                    }

    #timeline .units {
        position: relative;
        list-style: none;
        top: -80px;
        margin: 30px 18px 0;
        z-index: 10;
    }

        #timeline .units li {
            position: absolute;
            height: 10px;
            border-left: 1px solid #fff;
        }

            #timeline .units li.whole {
                height: 25px;
            }

            #timeline .units li span {
                position: absolute;
                width: 60px;
                font-size: 12px;
                text-align: center;
                margin: 30px 0 0 -30px;
                color: #fff;
            }

            #timeline .units li span.year {
                font-size: 20px;
            }

            #timeline .units li span.label {
                color: #bbb;
            }

    #timeline .eras {
        position: absolute;
        list-style: none;
        left: 0;
        bottom: 0;
        height: 200px;
        padding: 0;
        margin: 0;
    }

        #timeline .eras li {
            float: left;
            height: 200px;
        }

            #timeline .eras li:nth-child(1) {
                background: rgba(132, 45, 206, .5); /* purple */
            }

            #timeline .eras li:nth-child(2) {
                background: rgba(44, 204, 185, .5); /* turquoise */
            }

            #timeline .eras li:nth-child(3) {
                background: rgba(189, 201, 56, .5); /* gold */
            }

            #timeline .eras li:nth-child(4) {
                background: rgba(216, 33, 17, .5); /* red */
            }

            #timeline .eras li:nth-child(5) {
                background: rgba(17, 40, 216, .5); /* blue */
            }

            #timeline .eras li:nth-child(6) {
                background: rgba(247, 229, 37, .5); /* purple */
            }

            #timeline .eras li span {
                position: relative;
                line-height: 50px;
                color: #fff;
                font-size: 30px;
                font-weight: 200;
                text-transform: uppercase;
                margin: 0 10px;
                z-index: 4;
            }
