body							{ overflow-y: scroll; }
#timeline						{ position: absolute; left: 0; width: 100%; }
#timeline .plot					{ list-style: none; width: 100%; height: 0; border-top: 1px solid red; padding: 0; margin: 0; }
#timeline .plot li 				{ position: absolute; width: 12px; height: 12px; background: #000; margin: -6px 0 0 0; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; transition: all .15s ease-in-out; }
#timeline .plot li.lrg 			{ width: 26px; height: 26px; -webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px; margin-top: -12px; }
#timeline .plot li:hover			{ transform: scale(1.5); }
#timeline .plot li > div,
#timeline .plot li.lrg > div		{ position: absolute; width: 200px; background: rgba(50,50,50,.5); opacity: 0; z-index: 5; transition: all .15s ease-in-out; }
#timeline .plot li:hover > div		{ opacity: 1; }

#timeline .units					{ list-style: none; margin: 30px 18px 0; }
#timeline .units li				{ position: absolute; height: 10px; border-left: 1px solid red; }
#timeline .units li.whole			{ height: 25px; }
#timeline .units li span			{ position: absolute; width: 60px; font-size: 12px; text-align: center; margin: 30px 0 0 -30px; }

#timeline .eras					{ list-style: none; padding: 0; margin: 85px 30px 0; overflow: hidden; }
#timeline .eras li				{ position: absolute; height: 30px; line-height: 30px; color: #fff; font-size: 12px; font-weight: 600; z-index: 3; }
#timeline .eras li:nth-child(1)	{ background: #222; }
#timeline .eras li:nth-child(2)	{ background: #444; }
#timeline .eras li:nth-child(3)	{ background: #666; }
#timeline .eras li span			{ position: relative; margin: 0 10px; z-index: 4; }